<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>Sign up here!</h2>
  <%if(message) { %>
    <p>
      <%= message %>
    </p>
    <% } %>
  <form method="POST" action="/auth/register">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign up!</button>
  </form>
  <p><small>Already have an account? Log in<a href="/auth/login"> here</a></small></p>
</body>
</html>