<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<style type="text/css">
  header {
    display: flex;
    justify-content: space-between;
  }


</style>

<header>
  <nav>
    <a href="/sandwiches">Sandwich list</a>
    | <a href="/sandwiches/new">Add a sandwich</a>
    | <a href="/ingredients">Ingredient list</a>
    | <a href="/ingredients/new">Add an ingredient</a>
  </nav>

  <nav>
    <a href="/auth/register">Sign up!</a>
  </nav>
</header>