<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<header>
  <nav>
    <a href="/sandwiches">Sandwich list</a>
    | <a href="/sandwiches/new">Add a sandwich</a>
    | <a href="/ingredients">Ingredient list</a>
    | <a href="/ingredients/new">Add an ingredient</a>
  </nav>
</header>