  <% include ../partials/header.ejs %>

  <h2>Add an ingredient</h2>
  <form method="POST" action="/ingredients" placeholder="enter ingredient name!">
    <input type="text" name="name">
    <button>Add ingredient</button>
  </form>


  <% include ../partials/footer.ejs %>