<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>Show page for <%= ingredient.name %> </h2>
  <p>The ingredient's name is <%= ingredient.name %></p>
  <a href="/ingredients">ingredient list</a>
</body>
</html>