  <% include ../partials/header.ejs %>

  <h2>Show page for <%= ingredient.name %> </h2>
  <p>The ingredient's name is <%= ingredient.name %></p>
  <a href="/ingredients">ingredient list</a>

  <% include ../partials/footer.ejs %>
