<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>Sandwich List</h2>
  <ul>  
    <% for (let i = 0; i < sandwiches.length; i++) { -%>
      <li>
        <a href="/sandwiches/<%= sandwiches[i].id %>">
        <%= sandwiches[i].name %>
        </a>
        <form action="/sandwiches/<%= sandwiches[i].id %>?_method=DELETE" method="POST">
          <button>Delete <%= sandwiches[i].name %></button>
        </form>
      </li>
    <% } -%>
  </ul>
  <a href="/sandwiches/new">Add a sandwich</a>
</body>
</html>