<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>Sandwich List</h2>
  <ul>  
    <% for (let i = 0; i < sandwiches.length; i++) { -%>
      <li><%= sandwiches[i].name %></li>
    <% } -%>
  </ul>

</body>
</html>