  <% include ../partials/header.ejs %>

  <h2>Add a sandwich</h2>
  <form method="POST" action="/sandwiches" placeholder="enter sandwich name!">
    <input type="text" name="name">
    <button>Add Sandwich</button>
  </form>


  <% include ../partials/footer.ejs %>