<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h2>Add a sandwich</h2>
  <form method="POST" action="/sandwiches">
    <input type="text" name="name">
    <button>Add Sandwich</button>
  </form>

</body>
</html>