<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h2>Show page for <%= sandwich.name %> </h2>
  <p>The sandwich's name is <%= sandwich.name %></p>
  <a href="/sandwiches">Sandwich list</a>
</body>
</html>