  <% include ../partials/header.ejs %>

  <h2>Show page for <%= sandwich.name %> </h2>
  <p>The sandwich's name is <%= sandwich.name %></p>

  <ul>
    <% sandwich.ingredients.forEach(ing => {-%>
      <li>
        <%= ing.name %>
      </li>       
    <% }) %>
      
  </ul>

  <% include ../partials/footer.ejs %>
